/*     	Login     */
.login {
	background: #efefee;
	.wrapper{
		&.wrapper-login {
			display: flex;
			justify-content: center;
			align-items: center;
			height: unset;
			padding: 15px;
			.container-login, .container-signup {
				width: 400px;
				background: $white-color;
				padding: 60px 25px;
				border-radius: 5px;
				box-shadow: 0px 0px 12px rgba(160, 159, 159, 0.18);
				h3 {
					font-size: 19px;
					font-weight: $font-weight-light;
					margin-bottom: 25px;				
				}
				.form-sub{
					align-items: center;
					padding: 8px 0;
					.login-forget{
						text-align: right;
					}
				}
				.btn-login{
					padding: 15px 0;
					width: 135px;
				}
				.form-action {
					text-align: center;
					padding: 25px 0;
				}
				.login-account {
					padding-top: 10px;
					text-align: center;
				}
			}
			.container-signup {
				.form-action {
					display: flex;
					justify-content: center;
				}
			}
		}
	}
	.show-password {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 22px;
		cursor: pointer;
	}
	.custom-control-label{
		white-space: nowrap;
	}
}

@media screen and (max-width: 399px){
	.wrapper-login {
		padding: 15px !important;
	}
	.container-login{
		width: 100% !important;
		padding: 60px 15px !important;
	}
}